<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             logLevel="INFO"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://201.245.172.43:6080/arcgis/rest/services" 
                   username="sig_reas"   
                   password="S1g_R34s!"   
                   matchAll="true"/>
        <serverUrl url="http://geo.cajaviviendapopular.gov.co:6080/arcgis/rest/services" 
                   username="sig_reas"   
                   password="S1g_R34s!"   
                   matchAll="true"/>
        <serverUrl url="http://192.168.2.98:6080/arcgis/rest/services" 
                   username="sig_reas"   
                   password="S1g_R34s!"   
                   matchAll="true"/>
        <serverUrl url="http://192.168.2.98:6080/arcgis/rest/services" 
                   username="sig_reas"   
                   password="S1g_R34s!"   
                   matchAll="true"/>
<!--        <serverUrl url="http://201.245.172.43:6080/arcgis/rest/services"
                   username="sig_reas"   
                   password="S1g_R34s!"   
                   matchAll="true"/>-->
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
