<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <distributable/>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GestionConsultas</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.GestionConsultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDML</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.GestionDML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarReporteGenerico</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.GenerarReporteGenerico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginGreas</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.loginGreas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploader</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.FileUploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentasUploader</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.CuentasUploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagenesFicha</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.ImagenesFicha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarReporteGenericoCSV</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.GenerarReporteGenericoCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarReporteCSV</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.GenerarReporteCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Correos</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.Correos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ObtenerArchivo</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.ObtenerArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SplitPDFFileUpload</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.SplitPDFFileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFileArchivo</servlet-name>
        <servlet-class>com.frmejia.backend.servlets.GetFileArchivo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/Reas/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionConsultas</servlet-name>
        <url-pattern>/GestionConsultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDML</servlet-name>
        <url-pattern>/GestionDML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarReporteGenerico</servlet-name>
        <url-pattern>/GenerarReporteGenerico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarReporteGenericoCSV</servlet-name>
        <url-pattern>/GenerarReporteGenericoCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarReporteCSV</servlet-name>
        <url-pattern>/GenerarReporteCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Correos</servlet-name>
        <url-pattern>/Correos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.hmtl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploader</servlet-name>
        <url-pattern>/FileUploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentasUploader</servlet-name>
        <url-pattern>/CuentasUploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerArchivo</servlet-name>
        <url-pattern>/ObtenerArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SplitPDFFileUpload</servlet-name>
        <url-pattern>/SplitPDFFileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFileArchivo</servlet-name>
        <url-pattern>/GetFileArchivo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            90
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>com.trelta.commons.web.bust</taglib-uri>
            <taglib-location>/WEB-INF/bust.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
